#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#photos {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#content h1 {
  text-align: center;
}

nav {
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: center;
}

.hidden {
  display: none;
}

.caption {
  background-color: #F0F0F0;
  height: 220px;
  opacity: .5;
  padding-top: 50px;
  text-align: center;
  width: 220px;
}

body {
  background-color: #F9F7F2;
}

.active {
  background-color: deeppink;
}

article {
  border-top: thin solid black;
  padding-bottom: 25px;
}

.nav {
  border-top: thin solid black;
  border-bottom: thin solid black;
  color: black;
  display: inline-block;
  margin: -2px;
  padding: 10px;
  text-decoration: none;
}

.nav:hover {
  background-color: deeppink;
}

#greeting-container {
  margin-top: 20px;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#random-image-container img {
  margin-top: 20px;
}

.hover-label[aria-label]:hover {
  display: block;
  position: relative;
}

.hover-label[aria-label]:hover::before {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #eee;
  content: attr(aria-label);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 100%;
}

.comment label,
.comment input {
  display: block;
  margin: .5rem 0; /** top-bottom=1/2 base font size; left-right=0 */
}

.comment input[type=submit] {
  margin: 1rem 0 .5rem 0;
}

h1,
h3,
h4,
h5,
p,
a,
li {
  font-family: courier;
}
