#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#content h1 {
  text-align: center;
}

.navbar {
    text-align: center;
    margin: 0 auto;
}

.nav {
  display: inline-block;
  padding: 10px;
  margin: 0;
  border-top: thin solid black;
  border-bottom: thin solid black;
}

#greeting-container {
  margin-top: 20px;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#random-image-container img {
  margin-top: 20px;
}